img.center{
    display: block;
    margin: 0 auto;
}

h2.center{
    text-align: center;
    text-decoration: underline;
    color: rgb(107, 15, 194);
}

form{
    width: 60%;
    height: 840px;
    background-color: rgb(107, 15, 194);
    color: white;
    margin: 0 auto;
} 
